/* Body and element styles */
body {
    background-image: url("qbkls.png");
}

h1,
 h2 {
     font-family:'Georgia', Times, Times New Roman, serif;
 }

p, 
 a {
     font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 }

/* class styles */
.headingbar {
    background-color: white;
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    border-bottom: 2px solid #cccccc;
}


.header {
    width: 960px;
    margin: 0 auto;
}
.myname {
    background-color: #4aaaa5;
    color: white;
    float: left;
    height: 80px;
    width: 195px;
    padding: auto 10px auto;
    text-align: center;
}

.myname:hover {
    background-color:white;
    color:#4aaaa5;
}

.nav {
    float: right;
    padding-top: 30px;
}

.navlist {
    margin: auto 10px;
    text-decoration: none;
    color: #777777;
}

.navlist:hover {
    color:black;
}

/* About Me Styles */
 
.aboutme {
    width: 960px;
    margin: 100px auto;
    background-color: white;
}

.pagetitle {
    color: #4aaaa5;
    font-size: 1rem;
}

/* Portfolio Styles */

/* Contact Styles */

/* Footer Styles */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 75px;
    background-color: #666666;
    color: white;
    border-top: 8px solid #4aaaa5;
    text-align: center;
}

.foottext {
    padding-top: 12px;
}

/* Id styles */